<div class="container">
  <div class="d-flex justify-content-center row">
    <div class="col-md-10 col-lg-10">
      <div class="border">
        <div class="question bg-white p-3 border-bottom">
          <div class="d-flex flex-row justify-content-between align-items-center mcq">
            <h4>MCQ Quiz</h4><span>(5 of 20)</span>
          </div>
        </div>
        <div class="question bg-white p-3 border-bottom" *ngFor="let item of htmlQuiz">
          <div class="d-flex flex-row align-items-center question-title">
            <h3 class="">Q.1 </h3>
            <h5 class="mt-1 ms-2"> Which of the following country has largest population?</h5>
          </div>
          <div class="ans ms-2">
            <label class="radio">
              <div>
                <input type="radio" name="question1" value="brazil"> <span>Brazil</span>
              </div>
              <div>
                <input type="radio" name="question1" value="Germany"> <span>Germany</span>
              </div>
              <div>
                <input type="radio" name="question1" value="Indonesia"> <span>Indonesia</span>
              </div>
              <div>
                <input type="radio" name="question1" value="Russia"> <span>Russia</span>
              </div>
            </label>
          </div>
        </div>
        <!-- <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button
            class="btn btn-primary d-flex align-items-center btn-danger" type="button"><i
              class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button
            class="btn btn-primary border-success align-items-center btn-success" type="button">Next<i
              class="fa fa-angle-right ms-2"></i></button>
            </div> -->
      </div>
    </div>
  </div>
</div>
