<div class="container">
  <div class="row justify-content-center">
    <div class="col-xxl-10 col-xl-10 col-lg-12 col-md-12 col-sm-12">
      <div class="nug-section-title text-center">
        <div class="nug-sub-title">
          <span>The only qualitative research platform you will ever need</span>
        </div>
        <div class="nug-desc">
          <p>The one-stop toolkit for Researchers, Designers and PMs to generate deeper user insights, 10x faster</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-12 col-sm-12">
      <div class="news-letter">
        <input type="text" class="form-control" placeholder="Your work email">
      </div>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-12 col-sm-12">
      <div class="nug-button mt-3 mt-lg-0">
        <button class="btn btn-main">Book a demo</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
      <app-teams-logo></app-teams-logo>
    </div>
  </div>
</div>
