<header class="site-header">
  <app-navbar></app-navbar>
</header>
<main class="home-content">
  <section class="main-section site-section">
    <app-main-section></app-main-section>
  </section>
  <section class="section-content site-section p-0">
    <app-content></app-content>
  </section>
  <section class="section-help site-section">
    <app-our-help></app-our-help>
  </section>
  <section class="section-clients site-section light">
    <app-our-clients></app-our-clients>
  </section>
</main>
<footer class="footer">
  <app-footer></app-footer>
</footer>
