.site-header{
  padding: 10px 0px;
  .nug-logo{
    img{
      mix-blend-mode: exclusion;
    }
  }
  .navbar-toggler{
    color: $gray-800;
    font-size: 1em;
    border: none;
  }
  .navbar-content{
    .nav-link, .drop-down-link{
      color: $gray-800;
      cursor: pointer;
    }
  }
}
