body{
  color: $gray-700;
}
.nug-section-title {
  display: flex;
  flex-flow: column;
  gap: 15px;
  text-align: center;
  .nug-title {
    span {
      background-color: $gray-200;
      color: $gray-600;
      text-transform: uppercase;
      padding: 3px 7px;
      font-size: 0.9em;
      border-radius: 3px;
      font-weight: 500;
    }
  }
  .nug-sub-title {
    font-weight: bold;
    font-size: 2em;
    color: $gray-700;
  }
  .nug-desc {
    color: $gray-600;
  }
}
.nug-button {
  button {
    font-weight: 500;
    font-size: 0.9em;
    padding: 0px 20px;
    height: $btn-max-height;
  }
  .btn-main {
    background-color: $gray-800;
    color: white;
  }
  .btn-outline-main {
    border: 1px solid $gray-800;
    color: $gray-800;
  }
}
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.home-content {
  .site-section {
    padding: 30px 0px;
  }
  .site-section.light{
    background-color: $gray-50;
  }
}
