$gray-900: #101828;
$gray-800: #1d2939;
$gray-700: #344054;
$gray-600: #475467;
$gray-500: #667085;
$gray-400: #98a2b3;
$gray-300: #c3c7d2;
$gray-200: #e2e4ea;
$gray-100: #f0f2f7;
$gray-50: #f7f9fc;
$gray-25: #fcfcfd;

$btn-max-height:45px;
$btn-min-height:40px;
$header-height:80px;
$section-padding:40px 0px;
$image-height:350px;
$small-image-size:70px;
$font-weight-medium:500;

$font-medium:500;
$font-dark:700;
// title: gray-700
//  p gray-500
