<div class="container">
  <div class="row ">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="research-header">
        <div class="nug-section-title  text-md-center text-start">
          <div class="nug-title">
            <span>Ux Researchers</span>
          </div>
          <div class="nug-desc">
            <span >Short description that captures value prop for UX researchers</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-wrap-reverse">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="research-content">
        <div class="nug-section-title text-start">
          <div class="nug-title title-bold">
            <span class="">Behind the screen Observers</span>
          </div>
          <div class="nug-desc">
            <span>Invite stackholder to the interview without intimidiat the particepents</span>
          </div>
        </div>
        <div class="discussion">
          <div class="discussion-info title-bold">
            <span>Discussion Guide</span>
          </div>
          <div class="discussion-info title-bold">
            <span>Live Notes</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="play-video d-flex justify-content-lg-end">
        <div class="image nug-image bg-light">
          <span>
            <img src="/assets/svgs/PlayButton.svg" alt="" class="img-fluid">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
